<div class="row">
<div class="box col-md-12">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">妳的模特梦想不再是梦<br>现在开始参与。。。</h1>
       <p class="lead">
         <%= link_to '马上应聘', jobs_path, class: 'btn btn-primary-welcome' %>
       </p>
     </div>
   </div>
 </div>
</div>
 <div class="lp-section-2 clearfix">
  <div class="content-2">
    <div class="short-line"></div>
    <h2>我们为您提供专业、便捷、安心的标准化保姆服务</h2>
    <p>
      我们提供包括育儿、宠物美容、住家保姆等到家服务，给您的婴孩及宠物不一样的尊荣体验，找保姆服务就上宠婴网
    </p>
    <img src="https://ww4.sinaimg.cn/large/006tNc79gy1few1jckixkj31hc0u0q6c.jpg">
  </div>
</div>

<div class="lp-section-3 clearfix">
  <div class="content-3">
    <div class="feature-title">
      <div class="short-line"></div>
      <h2>人人可学的在线编程教育平台</h2>
    </div>
    <div class="feature-block">
      <img src="https://tshop.r10s.com/9b1/ed7/184b/5bef/20e8/3acb/3148/112be6972b005056ae5055.jpg">
      <br>
      <h3>教材简明易懂</h3>
      <p>专业术语太多？全英文看不懂？我们总结多年的线下教育经验编写了通俗易懂的教材，帮你降低学习门槛。</p>
    </div>
    <div class="feature-block">
      <img src="http://img.67.com/upload/images/2016/05/26/aGV5YW96aG91MTQ2NDI0Njk3NQ==.jpg">
      <br>
      <h3>职业程序员全程指导</h3>
      <p>学习编程最大的困难就是遇到 Bug 不会解，我们配备了职业程序员，帮你排除学习中遇到的任何问题。</p>
    </div>
    <div class="feature-block">
      <img src="https://imgbp.hotp.jp/CSP/IMG_SRC/70/89/B004127089/B004127089_271-361.jpg">
      <br>
      <h3>业界大神倾心分享</h3>
      <p>Hackathon 冠军 Xdite 与你分享十年敏捷开发、团队合作、项目管理经验，让你体验持续高速成长的乐趣。</p>
    </div>
  </div>
</div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">找工作一定要带手机</h2>
         <p class="lead">因为没带手机就不能联络公司</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">一定要把履历写好在投</h2>
         <p class="lead">履历如果不会写就一定要多上网寻求帮助，例如  <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 啦啦啦啦啦啦啦</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="lp-section-4 lp-section-5">
   <div class="content-4 content-5">
     <p class="des">我们的往期学员被以下公司录取了</p>
     <div class="list">
       <img src="https://fullstack.xinshengdaxue.com/images/jinshuju.png">
       <img src="https://fullstack.xinshengdaxue.com/images/strikingly.png">
       <img src="https://fullstack.xinshengdaxue.com/images/caicheng.png">
       <img src="https://fullstack.xinshengdaxue.com/images/yunbi.png">
       <img src="https://fullstack.xinshengdaxue.com/images/meow.png">
     </div>
     <p class="des more">更多精彩，由你创造……</p>
   </div>
 </div>

 <div class="lp-section-bottom clearfix">
  <div class="bottom-content">
    <p>
    </p>
    <div>
      <a class="btn btn-primary-welcome" href="/jobs">开始应征</a>
    </div>
  </div>
</div>
