/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

// //---------Navbar---------
//
//  .navbar-default {
//      background-color: #212121;
//      border-color: #212121;
//      margin-bottom: 0;
//      border-radius: 0;
//  }
//
 // .navbar-default .navbar-brand {
 //     color: #EF6C00;
 //     padding: 10px 15px;
 //     line-height: 30px;
 // }
//
//  .navbar-default .navbar-brand:hover,
//  .navbar-default .navbar-brand:focus {
//      color: #FF6F00;
//      background-color: transparent;
//  }
//
//  .navbar-default .navbar-nav > li > a {
//      color: #EF6C00;
//  }
//
//  .navbar-default .navbar-nav > li > a:hover,
//  .navbar-default .navbar-nav > li > a:focus {
//      color: #FF6F00;
//      background-color: transparent;
//  }
//
//  .navbar-default .navbar-nav > .active > a,
//  .navbar-default .navbar-nav > .active > a:hover,
//  .navbar-default .navbar-nav > .active > a:focus {
//      color: #FF6F00;
//      background-color: #FFE0B2;
//  }
//
//  .navbar-default .navbar-nav > .open > a,
//  .navbar-default .navbar-nav > .open > a:focus,
//  .navbar-default .navbar-nav > .open > a:hover {
//      background-color: #FFE0B2;
//      color: #212121;
//  }
//
  .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     width: 50px; //定制图片宽度
     height: 50px; //定制图片高度
 }

  //---------Video-------

  .video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }

.img {
      -webkit-filter: hue-rotate(90deg); /* Safari */
      filter: hue-rotate(90deg);
  }
 //---------Box---------

 .box {
      background-image: url("https://ww3.sinaimg.cn/large/006tNc79gy1fez09m57p2j31kw11r17l.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 50px;
      margin-top: -20px;
      &:before {
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
         opacity: .6;
         }

     .box-inner {
        //  background-color: rgba(250, 250, 250, 0.69);
         padding-bottom: 5px;
         margin-top: 150px;
         margin-bottom: 120px;
     }

     .title {
         color: white;
         font-size: 50px;
         text-align: center;
         margin-bottom: 30px;
     }

     .slogan {
         color: #222;
         margin-top: 10px;
         margin-bottom: 50px;
         text-align: center;
         font-size: 25px;
         top: 12px;
     }

     .lead {
         margin-bottom: 60px;
         text-align: center;
         color: white;
     }
 }

 //---------Content---------

 .content-section-a {
     padding: 50px 0;
     background-color: #f8f8f8;
 }

 .content-section-b {
     background-color: #ffffff;
     padding: 50px 0;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
 }

 .section-heading-spacer {
     float: left;
     width: 200px;
     border-top: 3px solid #e7e7e7;
 }

 .section-heading {
     margin-bottom: 30px;
 }

 .lead {
     font-size: 18px;
     font-weight: 400;
 }


 //---------Footer---------

 footer {
     color: white;
 }

 footer .footer-below {
     padding: 25px 0;
     background-color: #233140;
 }

// fullstack description
.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}
.short-line{display:block;background:#1ecd97;border-style:none;border-radius:0;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;z-index:53;width:50px;height:3px;position:relative}
.lp-section-2{background-color:#f2f2f2;height:550px;margin:0 -15px}.lp-section-2 .content-2{padding-top:50px;margin:0 auto;width:690px;text-align:center}.lp-section-2 .content-2 h2{font-size:1.428em;padding-bottom:20px;letter-spacing:3px}.lp-section-2 .content-2 p{line-height:34px;color:#666;padding:0 50px;text-align:center}.lp-section-2 .content-2 img{margin-top:10px;width:auto;height:262px}.lp-yuan{width:100%;position:relative;z-index:98;background-color:#F2F2F2}.lp-yuan .content-yuan{width:100%;max-width:777px;margin:0 auto;top:-20px;position:relative;z-index:99}.lp-section-2{background-color:#f2f2f2;height:510px}.lp-section-2 .content-2{padding-top:10px}@media (max-width: 830px){.lp-yuan{box-sizing:border-box;padding:0 20px;max-width:100%}}@media (max-width: 768px){.lp-section-2{height:520px}.lp-section-2 .content-2{width:100%;padding:30px 20px 0}.lp-section-2 .content-2 p{line-height:30px;padding:0 20px}.lp-section-2 .content-2 img{width:auto;max-width:100%;height:auto}}
.content-3{display:block;width:960px;height:550px;margin-left:auto;margin-right:auto;position:relative;text-align:center;padding-top:50px}.lp-section-3 .content-3 .feature-block{display:block;border-style:none;border-radius:0;width:290px;position:relative;margin:20px 15px 0;float:left}.lp-section-3 .content-3 .feature-block h3{font-size:1.2em;line-height:28px;margin-top:20px;color:#333}.lp-section-3 .content-3 .feature-block p{line-height:24px;width:260px;margin-top:30px;margin-left:20px;font-size:1em;color:#666;text-align:center}.lp-section-3 .content-3 .feature-block img{width:80px;height:80px}@media (max-width: 960px){.lp-section-3{min-width:100%;height:850px}.lp-section-3 .content-3{width:100%;height:auto;padding-top:30px}.lp-section-3 .content-3 .feature-block{width:290px;margin:0 auto;float:none}.lp-section-3 .content-3 .feature-block h3{margin-top:10px}.lp-section-3 .content-3 .feature-block p{margin:0 auto 35px}}
.feature-title{margin-bottom:50px;letter-spacing:3px}.lp-section-3 .feature-title h2{font-size:1.428em}.lp-section-3 .feature-title p{color:#444;margin-bottom:40px;text-align:center}.lp-section-3
.feature-block{display:block;border-style:none;border-radius:0;width:290px;position:relative;margin:20px 15px 0;float:left}.lp-section-3 .content-3 .feature-block h3{font-size:1.2em;line-height:28px;margin-top:20px;color:#333}.lp-section-3 .content-3 .feature-block p{line-height:24px;width:260px;margin-top:30px;margin-left:20px;font-size:1em;color:#666;text-align:center}.lp-section-3 .content-3 .feature-block img{width:150px;height:200px}@media (max-width: 960px){.lp-section-3{min-width:100%;height:850px}.lp-section-3 .content-3{width:100%;height:auto;padding-top:30px}.lp-section-3 .content-3 .feature-block{width:290px;margin:0 auto;float:none}.lp-section-3 .content-3 .feature-block h3{margin-top:10px}.lp-section-3 .content-3 .feature-block p{margin:0 auto 35px}}
.lp-section-4{display:block;width:100%;height:400px;min-width:960px;background-color:#f2f2f2}.lp-section-4 .content-4{display:block;margin-left:auto;margin-right:auto;width:960px;height:450px;padding:50px 0;position:relative}.lp-section-4 .content-4 h2{font-size:1.428em;text-align:center;padding-bottom:60px;letter-spacing:3px}.lp-section-4 .content-4 .teacher-block-left{padding-left:30px;float:left;width:580px}.lp-section-4 .content-4 .teacher-block-left .talk{padding-top:20px;display:block;clear:both;width:350px;line-height:24px}.lp-section-4 .content-4 .teacher-block-left .img{float:left;width:90px;text-align:center}.lp-section-4 .content-4 .teacher-block-left .img img{width:80px;height:80px;border:1px solid #eee;-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1);box-shadow:1px 1px 1px rgba(0,0,0,0.3)}.lp-section-4 .content-4 .teacher-block-left .img .teacher-name{padding-top:10px}.lp-section-4 .content-4 .teacher-block-left .name{float:left;width:auto;padding:0 20px}.lp-section-4 .content-4 .teacher-block-left .name span{font-size:1.15em;line-height:22px;font-weight:bold}.lp-section-4 .content-4 .teacher-block-left .name p{padding-top:13px;font-size:1em;line-height:25px;color:#666}.lp-section-4 .content-4 .teacher-block-right{padding-left:30px;float:left;width:380px}.lp-section-4 .content-4 .teacher-block-right .talk{padding-top:20px;display:block;clear:both;line-height:24px}.lp-section-4 .content-4 .teacher-block-right .img{float:left;width:90px;text-align:center}.lp-section-4 .content-4 .teacher-block-right .img img{width:80px;height:80px;border:1px solid #eee;-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1);box-shadow:1px 1px 1px rgba(0,0,0,0.3)}.lp-section-4 .content-4 .teacher-block-right .name{float:left;width:auto;padding:0 0 0 20px}.lp-section-4 .content-4 .teacher-block-right .name span{font-size:1.15em;line-height:22px;font-weight:bold}.lp-section-4 .content-4 .teacher-block-right .name p{padding-top:13px;font-size:1em;line-height:25px;color:#666}@media (max-width: 960px){.lp-section-4{width:100%;height:520px;min-width:100%}.lp-section-4 .content-4{display:block;margin-left:auto;margin-right:auto;max-width:100%;height:auto;padding:30px 0;position:relative}.lp-section-4 .content-4 h2{font-size:1.428em;text-align:center;padding-bottom:40px;letter-spacing:3px}.lp-section-4 .content-4 .teacher-block-right{padding-top:40px}.lp-section-4 .content-4 .teacher-block-left,.lp-section-4 .content-4 .teacher-block-right{padding-left:0;float:none;width:360px;margin:0 auto}.lp-section-4 .content-4 .teacher-block-left .top,.lp-section-4 .content-4 .teacher-block-right .top{margin:0 auto;width:100%}.lp-section-4 .content-4 .teacher-block-left .top .img,.lp-section-4 .content-4 .teacher-block-right .top .img{float:left;width:90px;text-align:center}.lp-section-4 .content-4 .teacher-block-left .top .img img,.lp-section-4 .content-4 .teacher-block-right .top .img img{width:80px;height:80px;border:1px solid #eee;-moz-box-shadow:1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.1);box-shadow:1px 1px 1px rgba(0,0,0,0.3);margin-right:0}.lp-section-4 .content-4 .teacher-block-left .top .name,.lp-section-4 .content-4 .teacher-block-right .top .name{float:left;width:auto;padding:0 0 0 20px}.lp-section-4 .content-4 .teacher-block-left .top .name span,.lp-section-4 .content-4 .teacher-block-right .top .name span{font-size:1.15em;line-height:22px;font-weight:bold}.lp-section-4 .content-4 .teacher-block-left .top .name p,.lp-section-4 .content-4 .teacher-block-right .top .name p{padding-top:13px;font-size:1em;line-height:25px;color:#666}.lp-section-4 .content-4 .teacher-block-left .talk,.lp-section-4 .content-4 .teacher-block-right .talk{padding-top:5px;display:block;clear:both;width:100%;line-height:24px}}.lp-section-5{height:auto;padding:50px 0;background-color:#fff}.lp-section-5 .content-5{height:auto;padding:0}.lp-section-5 .content-5 p.des{text-align:center;color:#666;font-size:18px;margin-bottom:30px}.lp-section-5 .content-5 .more{margin-top:20px;margin-bottom:0}.lp-section-5 .content-5 .list{max-width:960px;text-align:center}.lp-section-5 .content-5 .list img{max-height:40px;margin:5px auto 15px}@media (max-width: 900px){.lp-section-5 .content-5 .list img{margin:5px auto 35px}}@media (max-width: 400px){.lp-section-4 .content-4 h2{padding-bottom:20px}.lp-section-4 .content-4 .teacher-block-left,.lp-section-4 .content-4 .teacher-block-right{width:100%;height:auto;padding-top:20px}.lp-section-4 .content-4 .teacher-block-left p,.lp-section-4 .content-4 .teacher-block-right p{padding:0 15px 10px;text-align:justify}}
.lp-section-bottom{display:block;background:linear-gradient(rgba(12,12,9,0.4), rgba(12,12,9,0.4)),url(https://ww3.sinaimg.cn/large/006tNc79gy1fez2qikmqlj30ui0augo5.jpg);background-position:center 80%;background-size:cover;margin-left:auto;margin-right:auto;margin-bottom:0;width:100%;min-width:960px;height:200px;position:relative}.lp-section-bottom .bottom-content{display:block;margin-left:auto;margin-right:auto;max-width:700px;height:200px;position:relative;text-align:center;padding-top:40px}.lp-section-bottom .bottom-content p{color:white;font-size:1.4em;margin-bottom:60px;letter-spacing:3px}@media (max-width: 960px){.lp-section-bottom{min-width:100%;height:250px}.lp-section-bottom .bottom-content{max-width:100%;height:auto;padding-top:40px;padding-left:30px;padding-right:30px}}

// search bar
.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 100px;

}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 250px; //加上width
}
