<footer class="text-center">
   <div class="footer-below">
       <p class="text-center">
         <%= link_to "https://fullstack.xinshengdaxue.com/works/445", target: :_blank do %>
         Copyright ©2017 樱桃娱乐网
         <br/><%= link_to 'About', about_path %>
         <% end %>
         <br>
       </p>
   </div>
</footer>
