<footer class="text-center" id="id_footer>
   <div class="footer-below">
       <p class="text-center">
         <%= link_to "https://fullstack.xinshengdaxue.com/works/445", target: :_blank do %>
         Copyright ©2017 樱桃娱乐网
         <% end %>
           <br>
       </p>
   </div>
</footer>
